@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* Duet Date Picker */
:root {
    --color-primary: #0046ff;
}
duet-date-picker {
    // 달력 포인트 컬러 변경
    --duet-color-primary: var(--color-primary);
    --duet-color-border: #ddd;

    // 인풋 테두리 및 배경
    --duet-color-text: #333;
    --duet-radius: 8px;
    --duet-color-button: #fff;
}
.duet-date__input {
    height: 5.6rem !important;
}

// 달력 영역 (모바일)
.duet-date__dialog-content {
    padding: 0 1rem 1rem;

    // 모바일 헤더
    .duet-date__mobile {
        margin-bottom: 1rem;
        padding: 2rem 5rem 1rem;
        border-bottom: 0;
        .duet-date__mobile-heading {
            font-size: 1.8rem;
        }
        .duet-date__close {
            svg {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    // 월, 년 선택
    .duet-date__header {
        padding-left: 1rem;
        .duet-date__select {
            .duet-date__select-label {
                font-size: 1.4rem;
            }
        }
    }

    // 달력 table
    .duet-date__table {
        .duet-date__table-header {
            > span {
                font-size: 1.4rem;
            }
        }
        td {
            .duet-date__day {
                font-size: 1.4rem;
            }
        }
    }
    // 달력 영역 (pc)
    @include breakpoint(tablet-sm) {
        padding: 1.6rem;
        .duet-date__mobile {
            padding: 0;
            margin: 0;
        }
        .duet-date__header {
            padding-left: 0.5rem;
        }
    }
}

// 열기 버튼
.duet-date__toggle {
    box-shadow: none;
    background: url('../images/icons/ico_calendar.png') no-repeat center center;
    background-size: 22px auto;
}
.duet-date__toggle-icon {
    display: none;
}

// 인풋 높이 및 스타일 강제 조정
// ::part(input)을 사용해야 내부 input에 접근 가능
duet-date-picker::part(input) {
    height: 5.6rem;
    border: 1px solid #ddd;
    font-size: 1.6rem;
    padding-left: 1.6rem;
}
