@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* List */

// bullet list
.dash-list,
.dot-list,
.num-list {
    li {
        position: relative;
        + li {
            margin-top: 1rem;
        }
        // depth2
        .dash-list,
        .dot-list,
        .num-list {
            margin-top: 1rem;
            > li {
                font-size: $font-body-14;
                color: $color-dark;
                &:before {
                    background-color: $color-base;
                }
                + li {
                    margin-top: 0.6rem;
                }
            }
        }
        .num-list {
            > li {
                &::before {
                    width: 1.2rem;
                    background-color: transparent;
                }
            }
        }
    }
}
// bullet : dash depth1
.dash-list {
    > li {
        padding-left: 1rem;
        font-size: $font-body-16;
        &:before {
            @include position(absolute, $l: 0, $t: 0.6rem);
            width: 0.4rem;
            height: 0.1rem;
            background-color: $color-dark;
        }
    }
}
// bullet : dot depth1
.dot-list {
    > li {
        padding-left: 1rem;
        font-size: $font-body-16;
        &:before {
            @include position(absolute, $l: 0, $t: 0.6rem);
            @include size-set(0.3rem);
            border-radius: 100%;
            background-color: $color-dark;
        }
    }
}
// bullet : number depth1
.num-list {
    // counter-reset: ordered; // li 갯수 리셋
    > li {
        font-size: $font-body-16;
        + li {
            margin-top: 1rem;
        }
        &::before {
            // li counter
            // counter-increment: ordered;
            // content: counter(ordered) ' ';
            display: inline-flex;
            width: 1.4rem;
        }
        @for $i from 1 through 20 {
            &:nth-child(#{$i})::before {
                content: '#{$i}';
            }
        }
        // depth2
        .dash-list,
        .dot-list {
            padding-left: 1.8rem;
        }
    }
}

/* content list */
// link list
.link-list-wrap {
    .title-area {
        padding-bottom: $spacer-20;
    }
    // &:has(.title-area) {
    //     .link-list {
    //         padding-top: $spacer-20;
    //     }
    // }
    // &:has(.data-list) {
    //     .data-list {
    //         .item {
    //             + .item {
    //                 margin-top: 1rem;
    //             }
    //         }
    //     }
    // }
}
.link-list {
    @include flex-column(stretch, start);
    .item {
        .link {
            @include flex-column(stretch, center);
            position: relative;
            width: 100%;
            padding: 1.4rem 4rem 1.4rem 0;
            text-align: left;
            // 좌우정렬
            &.align-row {
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                padding-left: 2rem;
                .link-info {
                    min-width: 4rem;
                    text-align: center;
                }
            }
            // 아이콘
            &.ico {
                &::after {
                    @include position(absolute, $t: 1rem, $r: 0);
                    @include size-set(1.4rem);
                    background: #ddd;
                }
                // 아이콘 중앙정렬
                &-c {
                    &::after {
                        @include position(absolute, $t: 50%, $r: 0);
                        @include size-set(1.4rem);
                        background: #ddd;
                        transform: translateY(-50%);
                    }
                }
            }
            .link-title {
                .name {
                    font-size: $font-body-16;
                }
                .desc {
                    padding-top: $spacer-10;
                    font-size: $font-body-14;
                    color: $color-txt-sub;
                }
                + .link-info {
                    margin-top: $spacer-14;
                }
            }
            .link-info {
                + .link-title {
                    margin-left: $spacer-16;
                }
            }
        }
    }

    // 유형별 조정
    &:not(.type-outline) {
        .item {
            + .item {
                border-top: 0.1rem solid $color-line-base;
                margin-top: $spacer-12;
                padding-top: $spacer-12;
            }
        }
    }

    // 유형
    &.type-outline {
        row-gap: 1.6rem;
        .link {
            min-height: 8rem;
            padding-left: $spacer-20;
            border-radius: $radius-8;
            border: 1px solid $color-line-base;
            // 아이콘
            &.ico {
                &::after {
                    right: 2rem;
                }
                &-c {
                    &::after {
                        right: 2rem;
                    }
                }
            }
            .link-title {
                .desc {
                    padding-top: $spacer-4;
                }
            }
        }
    }
}

// data list
.data-list-wrap {
    .title-area {
        padding-bottom: $spacer-20;
        border-bottom: 0.1rem solid $color-line-base;
    }
    &:has(.title-area) {
        .data-list {
            padding-top: $spacer-14;
        }
    }
}
.data-list {
    @include flex-column(stretch, start);
    row-gap: 2rem;
    .item {
        @include flex-set(start, between);
        column-gap: 3rem;
        .name {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            color: #999;
        }
        .desc {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            text-align: right;
        }
        + .item {
            margin-top: 2rem;
        }
    }
    // 좌측정렬
    &.align-start {
        .item {
            justify-content: flex-start;
            .name {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 0;
                min-width: 7rem;
            }
            .desc {
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 0;
                text-align: left;
            }
        }
    }
    // 좌우측 넓이 고정
    .w-fix-6 {
        min-width: 6rem;
        flex-grow: 0 !important;
        flex-basis: 0 !important;
    }
    .w-fix-10 {
        min-width: 10rem;
        flex-grow: 0 !important;
        flex-basis: 0 !important;
    }
}

// step list
// .step-list {
//     .item {
//         position: relative;
//         &::before {
//             @include position(absolute, $l: 0, $t: 0);
//             // @include bg-img('icons/ico_first', $format: 'jpg');
//         }
//     }
//     // $step-num: ('01', '02');
//     // @each $step-list in $step-num {
//     //     &.ico-step#{$step-list}::before {
//     //         background-image: url('#{$url}icons/ico-step#{$step-list}.png');
//     //     }
//     // }

//     @for $i from 1 through 5 {
//         &.ico-step#{$i}::before {
//             background-image: url('#{$url}icons/ico-step#{$i}.png');
//         }
//     }
// }
.step-list-wrap {
    .title-area {
        padding-bottom: $spacer-20;
    }
    &:has(.title-area) {
        .step-list {
            padding-top: $spacer-14;
        }
    }
}
.step-list {
    @include flex-set(start, between);
    gap: 0;

    .item {
        position: relative;
        flex: 1 1 0;
        text-align: center;

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 1.2rem;
            right: -50%;
            width: 100%;
            height: 2px;
            background-color: #ddd;
            z-index: 0;
        }
        .step-num {
            position: relative;
            z-index: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include size-set(2.4rem);
            border-radius: 50%;
            border: 2px solid #ddd;
            background-color: #fff;
            font-size: 1.4rem;
            color: #999;
        }
        .desc {
            display: block;
            margin-top: 0.8rem;
            font-size: 1.6rem;
            color: #666;
        }

        &.is-complete {
            &::after {
                background-color: #222;
            }
            .step-num {
                background-color: #222;
                border-color: #222;
                color: #fff;
            }
            .desc {
                color: #222;
            }
        }

        &.is-current {
            .step-num {
                border-color: #222;
                font-weight: 600;
                color: #222;
            }
            .desc {
                font-weight: 600;
                color: #222;
            }
        }
    }

    // 세로 스탭
    &.type-column {
        align-items: flex-start;
        flex-direction: column;
        gap: 3rem;

        .item {
            display: flex;
            align-items: flex-start;
            gap: 1.2rem;
            padding-bottom: 3rem;
            text-align: left;

            &:not(:last-child)::after {
                top: 2.4rem;
                left: 1.1rem;
                right: auto;
                width: 2px;
                height: calc(100% + 1.1rem);
            }
        }
        .step-num {
            flex-shrink: 0;
        }
        .desc {
            margin-top: 0;
            line-height: 1.5;
        }
    }
}

// card list
.card-list-wrap {
    .title-area {
        padding-bottom: $spacer-20;
    }
    &:has(.title-area) {
        .card-list {
            padding-top: $spacer-14;
        }
    }
}
.card-list {
    @include flex-column(stretch, start);
    gap: 3rem;
    .item {
        position: relative;
        border: 1px solid #ddd;
        border-radius: $radius-10;
        overflow: hidden;
        transition: border-color 0.3s;

        &:hover,
        &:focus-within {
            border-color: $color-primary;
            // 그림자 추가
            // box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }

        // 이미지영역
        .card-visual {
            // .img-object {
            //     position: relative;
            //     .figure {
            //         display: flex;
            //         @include img-ratio(320, 160);
            //         // @include breakpoint(tablet-sm) {
            //         //     aspect-ratio: 1920 / 600;
            //         // }
            //         // 반응형일때 mo/pc 비율 적용
            //         @include img-ratio-responsive(320, 160, 1920, 600);
            //     }
            // }
        }
        // 설명영역
        .card-info {
            @include flex-column(stretch, start);
            row-gap: 0.5rem;
            padding: 2rem 2rem 3rem;
            .sub {
                margin-bottom: 0.5rem;
                font-size: 1.4rem;
                color: #999;
            }
            .title {
                font-size: 2.2rem;
                > .btn-card-link {
                    color: inherit;
                    outline: none;
                    // btn-card-link 클릭 영역 확장
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                    }
                }
            }
            .desc {
                margin-top: 1.5rem;
                font-style: 1.6rem;
            }
        }
    }

    @include breakpoint(tablet-sm) {
        flex-direction: row;
        flex-wrap: wrap;
        .item {
            flex: 0 0 calc((100% - 6rem) / 3);
        }
    }
}

/* 이미지 비율 */
// object-fit
.img-object {
    position: relative;
    .figure {
        display: flex;
        @include img-ratio(320, 160);
        // @include breakpoint(tablet-sm) {
        //     aspect-ratio: 1920 / 600;
        // }
        // 반응형일때 mo/pc 비율 적용
        @include img-ratio-responsive(320, 160, 1920, 600);
    }
}

// padding-bottom
// 계산 예시 (320 : 160 = 100 : x) = 높이160 x 넓이100% / 이미지넓이320 = 패딩값
.img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    .figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        > img {
            width: 100%;
            height: 100%;
        }
    }
}
