@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* popover */
.popover {
    position: relative;
    display: inline-block;

    .btn-popover-open {
        padding: 2rem;
        background-color: #f4f5f6;
        color: #333;
    }
    .popover-inner {
        display: none;
        position: absolute;
        z-index: 92;
        min-width: 30rem;
        padding: 2rem 4rem 2rem 2rem;
        border: 1px solid #333;
        border-radius: 0.6rem;
        background-color: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        .btn-wrap {
            position: absolute;
            top: 1rem;
            right: 1rem;
            .btn-popover-close {
                display: block;
                width: 2.2rem;
                height: 2.2rem;
                background: url('../images/icons/btn_file_delete.png') no-repeat center;
                background-size: 100% auto;
            }
        }
        .title-area {
            margin-bottom: $spacer-10;
        }
        .cont-area {
            .tit {
                display: block;
                padding: 0 0 1rem;
                font-weight: 700;
            }
        }

        // 위
        &.pos-top {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: $spacer-12;
            &.left {
                left: 0;
                // transform: translateX(-80%);
                transform: translateX(calc(-80% - 6.3rem));
            }
            &.right {
                left: auto;
                right: 0;
                transform: translateX(calc(80% + 6.3rem));
            }
        }
        // 아래
        &.pos-bottom {
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: $spacer-12;
            &.left {
                left: 0;
                transform: translateX(calc(-80% - 6.3rem));
            }
            &.right {
                left: auto;
                right: 0;
                transform: translateX(calc(80% + 6.3rem));
            }
        }
        // 왼쪽
        &.pos-left {
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
            margin-right: $spacer-12;
            &.top {
                top: 0;
                transform: translateY(calc(-80% - 4.3rem));
            }
            &.bottom {
                top: auto;
                bottom: 0;
                transform: translateY(calc(80% + 4.3rem));
            }
        }
        // 오른쪽
        &.pos-right {
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            margin-left: $spacer-12;
            &.top {
                top: 0;
                transform: translateY(calc(-80% - 4.3rem));
            }
            &.bottom {
                top: auto;
                bottom: 0;
                transform: translateY(calc(80% + 4.3rem));
            }
        }
    }
}
