@use '../common/variables' as *;
@use '../mixins/mixins' as *;

$breakpoint-pc: 769px;

.popup-wrap {
    @include flex-column(center, center);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.3s ease;

    // dim
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease;
        // transition: opacity 0.3s ease 0.1s;
    }

    // 팝업 active
    &.is-active {
        visibility: visible;
        &::before {
            opacity: 1;
        }
        > .popup {
            opacity: 1;
            transform: translate(0) !important;
        }
    }

    // 팝업 공통
    .popup {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        opacity: 0;
        transform: translate(0, 20px);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        .popup-head,
        .popup-foot {
            flex: none;
        }
        .popup-head {
            @include flex-column(center, between);
            padding: 1.2rem 1.5rem;
            border-bottom: 1px solid #eee;
            .pop-title {
                padding: 0 2rem;
                font-size: 1.4rem;
                color: #222;
            }
        }
        .popup-body {
            flex: 1 1 auto;
            padding: 2.4rem;
            overflow: auto;
            .cont-area {
                color: #444;
            }
        }
        .popup-foot {
            padding: 1rem 1.5rem;

            .btn-wrap {
                display: flex;
                justify-content: flex-end;
                gap: 8px;
            }
        }
        // 닫기 버튼
        .btn-close-popup {
            position: absolute;
            top: 1.2rem;
            right: 1.5rem;
            width: 2.4rem;
            height: 2.4rem;
            background: url('../images/icons/btn_close.svg') no-repeat center / cover;
        }
    }

    // Alert & Confirm
    &.type-alert,
    &.type-confirm {
        .popup {
            width: 90%;
            max-width: 320px;
            min-height: auto;
            max-height: 40%;
            border-radius: 1.2rem;
            .popup-body {
                text-align: center;
                padding: 2rem 1.5rem;
            }
            .popup-foot .btn-wrap {
                justify-content: center;
            }
        }
    }
    &.type-alert .popup-head {
        display: none;
    }

    // Full Popup
    &.type-full {
        .popup {
            height: 100%;
            min-height: 100%;
            border-radius: 0;
            transform: translate(0, 100%);
            .popup-foot {
                &:has(.type-sticky) {
                    min-height: 9rem;
                    padding: 0;
                    // background-color: #fff;
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }

    // Bottom Popup
    &.type-bottom {
        justify-content: flex-end;
        .popup {
            max-height: 80%;
            border-radius: 20px 20px 0 0;
            transform: translate(0, 100%);
            .popup-foot {
                &:has(.type-sticky) {
                    min-height: 8rem;
                    padding: 0;
                    // background-color: #fff;
                }
            }
        }
    }

    // PC 화면 대응
    @media screen and (min-width: $breakpoint-pc) {
        // full, bottom popup 가운데 정렬
        &.type-full,
        &.type-bottom {
            align-items: center;
            justify-content: center;
            .popup {
                width: 90%;
                max-width: 500px;
                height: auto;
                max-height: 60%;
                min-height: auto;
                border-radius: 12px;
            }
        }

        // 하단 버튼 영역
        &.type-full {
            .popup {
                .popup-foot {
                    &:has(.type-sticky) {
                        min-height: 9rem;
                        padding: 0;
                        border-radius: 0 0 1.2rem 1.2rem;
                        background-color: #fff;
                        box-shadow: none;
                    }
                    .type-sticky {
                        background-color: transparent;
                    }
                }
            }
        }
        &.type-bottom {
            .popup {
                .popup-foot {
                    &:has(.type-sticky) {
                        min-height: 8rem;
                        padding: 0;
                        border-radius: 0 0 1.2rem 1.2rem;
                        background-color: #fff;
                    }
                    .type-sticky {
                        background-color: transparent;
                        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }
    }
}

// scroll off
.scrollOff {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
