@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* Table */
.tbl-wrap {
    overflow: hidden;
    + .tbl-wrap {
        margin-top: $spacer-50;
    }
    // 테이블 강제 정렬 클래스
    .align-left {
        text-align: left !important;
    }
    .align-right {
        text-align: right !important;
    }
    .align-center {
        text-align: center !important;
    }

    // 테이블 헤더 고정
    &.tbl-fixed-head,
    &.tbl-fixed-body {
        .tbl {
            border-collapse: separate;
        }
    }
    // thead fixed
    &.tbl-fixed-head {
        max-height: 300px;
        overflow-y: auto;

        // 스크롤바 커스텀
        // &::-webkit-scrollbar {
        //     width: 6px;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background-color: #ccc;
        //     border-radius: 4px;
        // }
        // &::-webkit-scrollbar-track {
        //     background-color: #f5f5f5;
        // }

        .tbl {
            &.tbl-basic {
                thead {
                    th {
                        position: sticky;
                        top: -1px;
                        z-index: 5;
                        // inset 0 1px 0 #ddd  -> 상단 라인 (안쪽)
                        // inset 0 -1px 0 #ddd -> 하단 라인 (안쪽)
                        box-shadow: inset 0 1px 0 #ddd;
                    }
                }
                // tfoot 고정
                tfoot th,
                tfoot td {
                    position: sticky;
                    bottom: 0;
                    z-index: 5;
                    background-color: #f1f1f1;
                    // box-shadow: inset 0 1px 0 #ddd;
                }
            }
        }
    }
    // tbody fixed
    &.tbl-fixed-body {
        overflow-x: auto;
        width: 100%;
        .tbl {
            &.tbl-basic {
                th,
                td {
                    min-width: 160px;
                    white-space: nowrap;
                }
                tbody {
                    th[scope='row'] {
                        position: sticky;
                        left: 0;
                        z-index: 10;
                        background-color: #f9f9f9;
                        box-shadow: inset -1px 0 0 #ddd;
                    }
                }
            }
        }
    }
}

// Table basic
.tbl {
    table-layout: fixed;
    width: 100%;
    text-align: left;
    &.tbl-basic {
        margin: 0 -1px;
        border-top: 2px solid $color-dark;
        thead th,
        tbody th,
        tbody td,
        tfoot th,
        tfoot td {
            height: 4.4rem;
            padding: 0 2rem;
            font-size: 1.6rem;
            word-break: break-all;
            box-sizing: border-box;
        }
        // thead
        thead {
            th {
                margin: 0 -1px;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                background-color: #f1f1f1;
                font-weight: 700;
                &.sub-depth {
                    background-color: #f9f9f9;
                }
            }
        }
        // tbody
        tbody {
            th {
                border-bottom: 1px solid #ccc;
                background-color: #f1f1f1;
                font-weight: 700;
                &.sub-depth {
                    border-left: 1px solid #ccc;
                    background-color: #f9f9f9;
                }
            }
            td {
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                color: #666;
                &.sub-depth {
                    border-left: 1px solid #ccc;
                }
            }
        }
        // tfoot
        tfoot {
            th,
            td {
                background-color: #f1f1f1;
                border-bottom: 1px solid #ccc;
                font-weight: 700;
            }
            td {
                border-left: none;
                color: #666;
                text-align: right;
            }
        }
        // 데이터 없는 경우
        &.nodata {
            tbody {
                td {
                    padding: 5rem 0;
                    text-align: center;
                }
            }
        }
        // 정렬기준
        &.type-col {
            th {
                text-align: center;
            }
        }
        &.type-row {
            th {
                text-align: center;
            }
        }
    }
}

// tabel col responsive
.tbl {
    &.col-g-1 {
        col {
            @each $index, $width in (1: 25%, 2: 25%, 3: 25%, 4: 25%) {
                &.col#{$index} {
                    width: $width;
                }
            }

            @include breakpoint(pc) {
                @each $index, $width in (1: 20%, 2: 30%, 3: 10%, 4: 40%) {
                    &.col#{$index} {
                        width: $width;
                    }
                }
            }
        }
    }
}

// table scroll
.tbl-scroll {
    position: relative;
    overflow: hidden;
    .tbl-fixed {
        .tbl-head {
            .tbl-basic {
                thead {
                    th {
                        height: 4.4rem;
                        padding: 0 2rem;
                        background-color: #eee;
                        color: $color-dark;
                    }
                }
            }
        }
        .tbl-body {
            .tbl-basic {
                border: 0;
            }
            &.customScroll {
                max-height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                .tbl-basic {
                    td {
                        height: 4.4rem;
                        padding: 0 2rem;
                        background-color: $color-white;
                        color: $color-dark;
                    }
                }
            }
        }
    }
}

/* Pagination */
.pagination {
    @include flex-set(center, center);
    margin-top: 3rem;
    text-align: center;
    .page-nav {
        @include size-set(3.4rem);
        border: 1px solid #ccc;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        + .page-nav {
            border-left: 0;
        }
        &.first {
            @include bg-img('icons/ico_first', $format: 'png');
            background-position: center;
            background-size: auto;
            // background: url('#{$url}icons/ico_first.png') no-repeat center;
        }
        &.prev {
            @include bg-img('icons/ico_prev', $format: 'png');
            background-position: center;
            background-size: auto;
        }
        &.next {
            @include bg-img('icons/ico_next', $format: 'png');
            background-position: center;
            background-size: auto;
        }
        &.last {
            @include bg-img('icons/ico_last', $format: 'png');
            background-position: center;
            background-size: auto;
        }
    }
    .page-link {
        @include flex-set(center, stretch);
        column-gap: 1rem;
        padding: 0 3rem;
        > li {
            a {
                display: block;
                @include size-set(3.4rem);
                font-size: 1.4rem;
                line-height: 3.4rem;
                &:hover {
                    color: $color-primary;
                }
            }
            &.is-active a {
                background-color: $color-primary;
                color: #fff;
            }
        }
    }
}
