@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* tab default */
.tab {
    .tab-nav {
        ul {
            display: flex;
            align-items: center;
            > li {
                @include flex-set(center, center);
                position: relative;
                flex: 1 1 0;
                height: 5rem;
                border-bottom: 0.1rem solid #999;
                text-align: center;
                &.is-active {
                    &::after {
                        @include position(absolute, $l: 0, $b: -1px);
                        width: 100%;
                        border-bottom: 0.3rem solid #222;
                    }
                }
                > button {
                    @include flex-set(center, center);
                    @include size-set(100%);
                    padding: 0 2rem;
                    color: #222;
                }
            }
        }
        &.type-sticky {
            position: sticky;
            top: 5.4rem;
            z-index: 100;
            background-color: #fff;
        }
        &.type-scroll {
            @include mobile-only {
                ul {
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    li {
                        // 모바일에서 최소 넓이 25% 지정
                        flex: 0 0 25%;
                        // min-width: 0; // 텍스트길이에 상관없이 균등한 넓이 유지하려면
                        > button {
                            display: block;
                            padding: 0 1rem;

                            // 텍스트길이에 상관없이 균등한 넓이 유지하려면
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    .tab-body {
        margin-top: $sec-gap-30;
        .tab-cont {
            display: none;
            &.is-active {
                display: block;
            }
        }
    }
}

/* tab round bg+line (라인겹침) */
.tab-round {
    .tab-nav {
        ul {
            display: flex;
            align-items: center;
            > li {
                @include flex-set(center, center);
                position: relative;
                flex: 1 1 0;
                z-index: 0;
                height: 5rem;
                margin-right: -1px;
                border: 0.1rem solid #eee;
                &.is-active {
                    z-index: 1;
                    border: 0.1rem solid $color-bg-base;
                    background-color: $color-bg-base;
                    &::after {
                        display: none;
                    }
                }
                &:first-child {
                    border-radius: $radius-8 0 0 $radius-8;
                }
                &:last-child {
                    margin: 0;
                    border-radius: 0 $radius-8 $radius-8 0;
                }
                > button {
                    @include flex-set(center, center);
                    @include size-set(100%);
                    padding: 0 $spacer-10;
                    white-space: nowrap;
                }
            }
        }
    }
    .tab-body {
        margin-top: $sec-gap-30;
        .tab-cont {
            display: none;
            &.is-active {
                display: block;
            }
        }
    }
}
