@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* tooltip */
.tooltip {
    display: inline-block;
    position: relative;

    .btn-tooltip {
        display: inline-block;
        text-decoration: underline;
    }

    .tooltip-inner {
        position: absolute;
        z-index: 100;
        width: auto;
        min-width: 150px;
        max-width: 240px;
        white-space: normal;
        word-break: keep-all;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        border: 1px solid #222;
        background-color: #fff;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        // 화살표
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }
        // 흰색 화살표 (안쪽)
        &::after {
            border-width: 6px;
            border-color: transparent;
        }
        // 테두리 화살표 (바깥쪽)
        &::before {
            border-width: 7px;
            border-color: transparent;
            z-index: -1;
        }
    }

    // 위쪽
    &,
    &.pos-top {
        .tooltip-inner {
            left: 50%;
            top: auto;
            right: auto;
            bottom: 100%;
            margin-bottom: 12px;
            transform: translateX(-50%) translateY(10px); // 위치 조정
            &::after {
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-top-color: #fff;
            }
            &::before {
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-top-color: #222;
                margin-top: 1px;
            }
        }
        .btn-tooltip:hover + .tooltip-inner,
        .btn-tooltip:focus + .tooltip-inner {
            transform: translateX(-50%) translateY(0); // 위치 조정
        }
    }

    // 아래쪽
    &.pos-bottom {
        .tooltip-inner {
            left: 50%;
            bottom: auto;
            right: auto;
            top: 100%;
            margin-top: 12px;
            transform: translateX(-50%) translateY(-10px); // 위치 조정
            &::after {
                top: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-bottom-color: #fff;
                border-top-color: transparent;
            }
            &::before {
                top: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-bottom-color: #222;
                border-top-color: transparent;
                margin-bottom: 1px;
                margin-top: 0;
            }
        }
        .btn-tooltip:hover + .tooltip-inner,
        .btn-tooltip:focus + .tooltip-inner {
            transform: translateX(-50%) translateY(0); // 위치 조정
        }
    }

    // 오른쪽
    &.pos-right {
        .tooltip-inner {
            left: 100%;
            top: 50%;
            right: auto;
            bottom: auto;
            margin-left: 12px;
            margin-bottom: 0;
            transform: translateY(-50%) translateX(-10px); // 위치 조정

            // 화살표 위치: 툴팁의 왼쪽(right: 100%)
            &::after {
                left: auto;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                border-right-color: #fff;
                border-top-color: transparent;
            }
            &::before {
                left: auto;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                border-right-color: #222;
                border-top-color: transparent;
                margin-right: 1px;
                margin-top: 0;
            }
        }
        .btn-tooltip:hover + .tooltip-inner,
        .btn-tooltip:focus + .tooltip-inner {
            transform: translateY(-50%) translateX(0); // 위치 조정
        }
    }

    // 왼쪽
    &.pos-left {
        .tooltip-inner {
            right: 100%;
            top: 50%;
            left: auto;
            bottom: auto;
            margin-right: 12px;
            margin-bottom: 0;
            transform: translateY(-50%) translateX(10px); // 위치 조정

            &::after {
                right: auto;
                top: 50%;
                left: 100%; // 박스 오른쪽
                transform: translateY(-50%);
                border-left-color: #fff;
                border-top-color: transparent;
            }
            &::before {
                right: auto;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
                border-left-color: #222;
                border-top-color: transparent;
                margin-left: 1px;
                margin-top: 0;
            }
        }
        .btn-tooltip:hover + .tooltip-inner,
        .btn-tooltip:focus + .tooltip-inner {
            transform: translateY(-50%) translateX(0); // 위치 조정
        }
    }

    // hover, focus
    .btn-tooltip:hover + .tooltip-inner,
    .btn-tooltip:focus + .tooltip-inner {
        visibility: visible;
        opacity: 1;
    }
}
