{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 9999999999999,
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "**/*.scss",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
