@use 'sass:map';
@use '../common/variables' as *;

// flex common
$flex-map: (
    start: flex-start,
    end: flex-end,
    stretch: stretch,
    center: center,
    between: space-between,
    around: space-around,
);
@function _flex-value($key) {
    @return map.get($flex-map, $key);
}

@mixin flex-set($ai: center, $jc: center) {
    display: flex;
    align-items: _flex-value($ai);
    justify-content: _flex-value($jc);
}

@mixin flex-column($ai: center, $jc: center) {
    display: flex;
    align-items: _flex-value($ai);
    justify-content: _flex-value($jc);
    flex-direction: column;
}

// flex type
@mixin flexbox($type: row) {
    @if ($type == 'row') {
        @include flex-set(stretch, start);
        column-gap: 1.4rem;
        .unit {
            flex-shrink: 1;
            &.fixed {
                flex-shrink: 0;
            }
        }
        &.align-center {
            align-items: center;
        }
        &.align-between {
            justify-content: start;
        }
        &.align-end {
            justify-content: end;
        }
    }
    @if ($type == 'col') {
        @include flex-column(start, start);
        row-gap: 1rem;
        .unit {
            flex-grow: 1;
            flex-basis: 0;
        }
        &.align-center {
            align-items: center;
        }
        &.align-end {
            align-items: end;
        }
    }
}

// position absolute, fixed, sticky
@mixin position($position, $t: null, $b: null, $l: null, $r: null) {
    @if ($position == absolute) {
        content: '';
        display: block;
        position: $position;
        top: $t;
        bottom: $b;
        left: $l;
        right: $r;
    } @else {
        position: $position;
        top: $t;
        bottom: $b;
        left: $l;
        right: $r;
    }
}

// width height size
@mixin size-set($size) {
    width: $size;
    height: $size;
}

// background image
@mixin bg-img($path, $url: '../images/', $format: 'svg') {
    background-image: url('#{$url}#{$path}.#{$format}');
    background-repeat: no-repeat;
    background-size: contain;
}

// ellipsis
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}

// 이미지 비율 적용 (모바일)
@mixin img-ratio($w, $h) {
    position: relative;
    width: 100%;
    overflow: hidden;
    // 단위(px)가 있어도 되고 없어도 동작하지만 깔끔하게 단위 제거해서 넣는 것 추천
    aspect-ratio: #{$w} / #{$h};
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // 작성 예시 (넓이, 높이)
    // @include img-ratio(320, 160);
}
// 이미지 비율 적용 (반응형 한번에 적용)
@mixin img-ratio-responsive($mo-w, $mo-h, $pc-w, $pc-h, $breakpoint-pc: 768px) {
    position: relative;
    width: 100%;
    overflow: hidden;
    // 모바일 비율
    aspect-ratio: #{$mo-w} / #{$mo-h};
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // PC 비율
    @media (min-width: $breakpoint-pc) {
        aspect-ratio: #{$pc-w} / #{$pc-h};
    }
    // 작성 예시 (넓이, 높이)
    // @include img-ratio-responsive(360, 360, 1920, 800);
}

// responsive
$breakpoints: (
    mobile-sm: 360px,
    mobile: 480px,
    tablet-sm: 768px,
    tablet: 1024px,
    pc: 1280px,
);
@mixin breakpoint($device) {
    @if map.has-key($breakpoints, $device) {
        @media (min-width: map.get($breakpoints, $device)) {
            @content;
        }
    } @else if ($device == 'landscape') {
        // 모바일 가로모드 (높이 기준)
        @media (orientation: landscape) and (max-height: 480px) {
            @content;
        }
    }
    // 사용 예
    // @include breakpoint(tablet-sm) {
    //     padding: 24px;
    // }
}

@mixin mobile-only {
    @media (max-width: 767px) {
        // tablet-sm 직전
        @content;
    }
}

// sr-only
@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

// layout
// section: sec-head
@mixin sec-layout($type: type1) {
    %sec-head {
        margin-bottom: $spacer-10;
        .title-area {
            .desc {
                margin: $spacer-10 0;
                font-size: $font-body-16;
            }
        }
        .util-area {
            padding-left: $spacer-16;
            .info {
                font-size: $font-body-16;
            }
        }
        &:has(.util-area) {
            margin-bottom: $spacer-20;
            &:has(.desc) {
                margin-bottom: $spacer-10;
            }
        }
    }

    @if ($type == 'type1') {
        .sec-head {
            @include flex-set(center, between);
            @extend %sec-head;
            &.start {
                align-items: start;
            }
        }
    }
    @if ($type == 'type2') {
        .sec-head {
            // margin-bottom: $spacer-10;
        }
    }
}

// elements
// textfield
@mixin input-type($type: line) {
    // textfield line type
    @if ($type == 'line') {
        position: relative;
        width: 100%;
        height: 5.6rem;
        padding-right: $spacer-40;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        font-family: inherit;
        font-size: $font-body-16;
        color: $color-txt-body;
        transition: 0.4s ease-in-out;
        &:disabled {
            color: $color-disable;
            opacity: 1;
            -webkit-text-fill-color: inherit;
        }
        &[readonly] {
            color: $color-txt-body;
        }
    }
    // textfield box type
    @if ($type == 'box') {
        position: relative;
        width: 100%;
        height: 5.6rem;
        padding-left: $spacer-16;
        padding-right: $spacer-40;
        border: 1px solid #ddd;
        border-radius: $radius-8;
        background-color: #fff;
        font-family: inherit;
        font-size: $font-body-16;
        color: $color-txt-body;
        transition: 0.4s ease-in-out;
        &:disabled {
            color: $color-disable;
            background-color: #f3f4f5;
            opacity: 1;
            -webkit-text-fill-color: inherit;
        }
        &[readonly] {
            color: $color-txt-body;
            background-color: #f3f4f5;
        }
    }
}

// chips style
@mixin chip-style {
    display: flex;
    align-items: center;
    gap: 1rem;
    li {
        flex-shrink: 0;
        a,
        button {
            @include flex-set(center, center);
            padding: 1.4rem 1.6rem;
            border-radius: 2rem;
            background-color: #ddd;
            color: #222;
            white-space: nowrap;
            &.is-active {
                background-color: #222;
                color: #fff;
            }
        }
    }
}
