@use '../common/variables' as *;
@use '../mixins/mixins' as *;

.anchor-wrap {
    position: sticky;
    top: 5.4rem;
    left: 0;
    z-index: 90;
    width: 100%;
    background-color: #fff;

    &.is-fixed {
        position: fixed;
        right: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .anchor-nav {
        > ul {
            @include chip-style;
            padding: 1rem 0;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            // 스크롤바 숨기기
            // &::-webkit-scrollbar {
            //     display: none;
            // }
        }
    }
}
