@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* select ui (bottom/drop) */
.select-box {
    position: relative;
    width: 100%;
    // label
    .label-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1.2rem;
        .label {
            display: block;
            font-size: 1.6rem;
            color: #0b0d0f;
        }
        .btn-select {
            position: relative;
            width: 100%;
            height: 5.6rem;
            padding: 0 3rem 0 1.6rem;
            border: 1px solid #ddd;
            border-radius: 0.8rem;
            background-color: #fff;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // outline: none;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 1.5rem;
                width: 2rem;
                height: 2rem;
                background: url('../images/icons/ico_select.png') no-repeat right center;
                transform: translateY(-50%);
            }
            &:focus {
                border-color: #0046ff;
                transition: 0.4s ease-in-out;
            }
        }
    }
    // select dropdown/bottom
    .select-layer {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        width: 100%;
        height: auto;
        border-radius: $radius-8;
        box-shadow: rgba(0, 0, 0, 0.08) 0 0.4rem 1rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
        .select-group {
            border-radius: 0.8rem;
            // border: 1px solid #222; // 필요하면 추가
            background-color: $color-white;
            overflow: hidden;
        }
        .select-head {
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 2.4rem;
            .select-title {
                font-size: 1.8rem;
                font-weight: 700;
                color: #0b0d0f;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
            }
            .btn-close {
                width: 2.4rem;
                height: 2.4rem;
                background-color: #0b0d0f;
            }
        }
        .select-list {
            max-height: 25rem;
            overflow-y: auto;
            .option {
                display: block;
                width: 100%;
                padding: $spacer-16 2.4rem;
                background-color: #fff;
                text-align: left;
                &:hover,
                &:focus {
                    background-color: #f5f5f5;
                }
                &.current {
                    background-color: #f0f7ff;
                    color: $color-primary;
                }
            }
        }

        // select bottom scss
        @include mobile-only {
            // dim scss
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1000;
            width: 100%;
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: none;

            .select-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-height: 60%; // 최대높이지정
                border-radius: 2rem 2rem 0 0;
                transform: translateY(100%);
                transition: transform 0.2s ease-out;
            }
            .select-head {
                display: flex;
                flex-shrink: 0;
            }
            .select-list {
                max-height: auto;
                flex-grow: 1;
                padding-bottom: calc(2rem + env(safe-area-inset-bottom));
            }
        }
    }
    &.is-active {
        .select-layer {
            opacity: 1;
            visibility: visible;

            // 모바일 모션
            @include mobile-only {
                .select-group {
                    transform: translateY(0);
                }
            }
        }
    }
}
