@use '../common/variables' as *;
@use '../mixins/mixins' as *;

/* popup default */
.popup-wrap {
    visibility: hidden;
    @include flex-column(center, center);
    // flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    &.is-active {
        visibility: visible;
        .popup {
            opacity: 1;
            transform: translate(0, 0);
            transition: all 0.3s ease;
        }
    }

    // popup flex layout
    .popup {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 11;
        width: 100%;
        opacity: 0;
        .popup-head,
        .popup-foot {
            flex: none;
        }
        .popup-body {
            flex: 1 1 auto;
        }
    }

    // popup transition
    .popup-basic {
        .popup {
            transform: translate(0, 30px);
        }
    }
    // alert/confirm
    .popup-alert,
    .popup-confirm {
        .popup {
            transform: translate(0, -30px);
        }
    }
    // full
    .popup-full {
        .popup {
            height: 100%;
            min-height: 100%;
            transform: translate(0, 100%);
        }
    }
    // bottom sheet
    .popup-bottom {
        justify-content: flex-end;
        .popup {
            transform: translate(0, 100%);
        }
    }
}
