@use '../common/variables' as *;
@use '../mixins/mixins' as *;

// footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #ddd;
}
