@charset "UTF-8";
/* 전역변수 */
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.4rem;
  background-color: #f6f7f8;
  z-index: 100;
}
.header .header-insec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6rem;
  height: 5.4rem;
}
.header .header-insec .left-area,
.header .header-insec .right-area {
  position: absolute;
  top: 1.5rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #ddd;
}
.header .header-insec .left-area {
  left: 2rem;
}
.header .header-insec .right-area {
  right: 2rem;
}
.header .header-insec .header-title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #0b0d0f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #404040;
  z-index: 10000;
  transition: width 0.1s ease;
}

@media all and (max-width: 1024px) {
  .header-line {
    display: none;
  }
}
.breadcrumb-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.breadcrumb-wrap .breadcrumb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.breadcrumb-wrap .breadcrumb > li {
  position: relative;
}
.breadcrumb-wrap .breadcrumb > li:not(:last-child)::after {
  content: ">";
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
}
.breadcrumb-wrap .breadcrumb > li > a.depth-txt {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #333;
}
.breadcrumb-wrap .breadcrumb > li > span.depth-txt {
  font-weight: 500;
}

.skip-nav a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background-color: #102e83;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-align: center;
  overflow: hidden;
}
.skip-nav a:focus, .skip-nav a:active {
  height: auto;
  margin-top: 0;
  padding: 1rem 0;
}

.wrapper,
.main,
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
}

.header,
.footer {
  flex: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.wrapper:has(.type-full-height) .main {
  height: 100%;
}
.wrapper:has(.type-full-height) .content {
  height: 100%;
}

.main,
.content {
  flex-grow: 1;
  height: auto;
}

.outer-sec {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}

.main {
  padding-top: 5.4rem;
}

.content {
  position: relative;
  padding: 4rem 2rem;
}
.content:has(.btn-wrap.sticky) {
  padding-bottom: 12rem;
}
.content:has(.btn-wrap.sticky.agree) {
  padding-bottom: 16rem;
}
.content:not(:has(.btn-wrap)) .section:last-of-type {
  padding-bottom: 2rem;
}

.page-step {
  margin-bottom: 1rem;
}

.main-title {
  padding-bottom: 4rem;
}
.main-title .sub-desc {
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

.section {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}
.section + .section {
  margin-top: 4rem;
}
.section.has-divider {
  padding-top: 4.8rem;
}
.section.has-divider::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4rem);
  height: 0.8rem;
  margin-left: -2rem;
  background-color: #f6f7f8;
}
.section .sec-group + .sec-group {
  padding-top: 3rem;
}
.section .sec-head {
  margin-bottom: 1rem;
}
.section .sec-head .title-area .desc {
  margin: 1rem 0;
  font-size: 1.6rem;
}
.section .sec-head .util-area {
  padding-left: 1.6rem;
}
.section .sec-head .util-area .info {
  font-size: 1.6rem;
}
.section .sec-head:has(.util-area) {
  margin-bottom: 2rem;
}
.section .sec-head:has(.util-area):has(.desc) {
  margin-bottom: 1rem;
}
.section .sec-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section .sec-head.start {
  align-items: start;
}
.section .sec-body {
  position: relative;
}

/* button scroll top */
@media (max-width: 767px) {
  .mob-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .mob-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}
.item-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
}
.item-row .unit {
  flex-shrink: 1;
}
.item-row .unit.fixed {
  flex-shrink: 0;
}
.item-row.align-center {
  align-items: center;
}
.item-row.align-between {
  justify-content: start;
}
.item-row.align-end {
  justify-content: end;
}

.item-col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
.item-col .unit {
  flex-grow: 1;
  flex-basis: 0;
}
.item-col.align-center {
  align-items: center;
}
.item-col.align-end {
  align-items: end;
}

.h1-title {
  font-size: 3rem;
  font-weight: 700;
}

.h2-title {
  font-size: 2.6rem;
  font-weight: 700;
}

.h3-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.h4-title {
  font-size: 2rem;
  font-weight: 500;
}

.h5-title {
  font-size: 1.8rem;
  font-weight: 400;
}

.page-title {
  font-size: 2.6rem;
  font-weight: 600;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1.8rem;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #ddd;
}